
*{
    margin: 0px;
}

.eduki_nagusia {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.main-produktuak {
    flex: 1;
}

body {
    margin: 0;
    padding-top: 65px; 
    font-family: 'Segoe UI', sans-serif;
    background-color: #e8f0e5;
    color: white;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: rgba(53, 226, 0, 0.774);
    backdrop-filter: blur(10px);
    z-index: 9999;
    box-sizing: border-box;
}

.LogoHeader {
    height: 60px;
    width: auto;
    margin-right: 0px;
}

header h1 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin: 0 auto; 
}

.menu-btn {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.719);
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -80%; 
    width: 80%; 
    max-width: 300px;
    height: 100%;
    background-color: rgba(81, 255, 0, 0.411);
    backdrop-filter: blur(10px);
    z-index: 1001;
    transition: 0.3s ease-in-out;
    padding: 80px 20px 20px;
}

.sidebar.active {
    left: 0;
}

.sidebar-nav a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 10px; 
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(81, 255, 0, 0.05);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 2.5rem;
}

.Slogana {
    background-color: rgb(9, 199, 9);
    padding: 50px 10px;
    text-align: center;
    color: white;
}

.SliderMain {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    margin-top: 20px;
}

.DispositibaMultzoa {
    width: 100%;
}

.DispositibaMultzoa div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: white;
    
}

.DispositibaMultzoa img {
    width: 100%; 
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    display: block;
}

.SekzioTitulua{
    background-color: rgba(9, 214, 9, 0.733);
    padding: 15px;
    margin-top: 5px;
}

/*TXARTELAK*/

.Produktuak{
    border-radius: 15px;
    padding: 5px;
    color: black;
    background-color: white;
    width: 85%;
    height: 300px;
    box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.438);
}

.Produktuak img{
    width: 60%;
    height: auto;
    margin-top: 10px;
}

.ProduktuZerrenda{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 5px;
}
.produktu_argazkia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 150px;
}
.produktu-titulua{
    height: 80px;
    
}

.ErosiBotoia{
    display: flex;
    justify-content: center;
}  

.ErosiBotoia button{
    background-color: rgb(0, 255, 0);
    border: 0px;
    padding: 10px;
    cursor: pointer;
}

.form-saskia {
    display: contents;
}

.filtro {
    width: 350px;
    background-color: rgba(255,255,255,0.9);
    color: black;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.15);
}

.filtro h3 {
    margin-bottom: 15px;
}

.filtro label {
    display: block;
    margin-top: 10px;
}

.filtro input,
.filtro select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.filtro button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: rgb(9, 199, 9);
    color: white;
    cursor: pointer;
}


/*FORMULARIOA*/

.Formularioa{
    color: black;
    place-items: center;
    background-color: lightgrey;
}
.formulario-container{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.26);
    background-color: white;
    max-width: 400px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}

.formulario-datuak{
    background-color: lightgreen;
}

/* berriak: */
       
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 30px auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 25px;
            color: black;
        }

        .berria {
            background: white;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            color: black;
        }

        .berria img {
            width: 100%;
            height: 220px;
            object-fit: cover;
        }

        .edukia {
            padding: 15px 20px;
        }

        .titulua {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 8px;
            color: black;
        }

        .data {
            color: black;
            font-size: 14px;
            margin-bottom: 12px;
        }

        p{
            color: black;
            font-size: 16px;
            line-height: 1.4;
        }
    
/* berriak: */
       
        .container {
            width: 90%;
            max-width: 1200px;
            margin: 30px auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 25px;
            color: black;
        }

        .berria {
            background: white;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            color: black;
        }

        .berria img {
            width: 100%;
            height: 220px;
            object-fit: cover;
        }

        .edukia {
            padding: 15px 20px;
        }

        .titulua {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 8px;
            color: black;
        }

        .data {
            color: black;
            font-size: 14px;
            margin-bottom: 12px;
        }

        p{
            color: black;
            font-size: 16px;
            line-height: 1.4;
        }


    /*SASKIA*/

    .saskia{
        width: 360px;
        padding: 10px 20px;
        margin-top: 10%;
        color: black;
        background-color: white;
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.288);

    }
    .saskia-gorputza{
        display: flex;
        justify-content: center;
    }

    

    @media (min-width: 1024px) {
    .DispositibaMultzoa {
        max-width: 800px;
        margin: 0 auto;
    }

    .DispositibaMultzoa img {
        width: 100%;
        max-width: 700px;
        height: 350px;
        margin: 0 auto;
    }
}